@font-face {
  font-family: GeneralSans;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/GeneralSans-Regular.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: GeneralSans;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
/* navbar */
.navbarMenu{
  height: 60px;
}
.navbarMenu nav{
  background: #fff;
  color: #000;
  box-shadow: none;
  padding: 15px 0px;
}
.navbarMenu a{
  display: inline-block;
  padding: 0px 15px;
  color: #000;
  text-transform: uppercase;
}
.navbarMenu nav button{
  color:#000;
  text-transform: capitalize;
}
.homePage{
  padding-top: 60px;
  background: #fafafa;
}
/* sectionbox */
.sectionBox{
  background: #fff;
  padding: 97px 97px;
}
.sectionBox .MuiTypography-h3{
  font-size: 22px;
  color: #070D0C;
}
.sectionBox .MuiTypography-h2{
  font-size: 35px;
  width: 760px;
  font-weight: 600;
  padding-top: 30px;
  line-height: 47px;
  color: #070D0C;
}
.sectionBox .MuiTypography-h5{
  font-size: 22px;
  line-height: 36px;
  width: 668px;
  font-weight: 300;
  color: #070D0C;
  font-style: normal;
  padding-top: 30px;
}
.sectionBox .customButton{
  background: #ccc;
  border: none;
  padding: 12px 40px;
  border-radius: 30px;
  color: #fff;
  margin-top: 60px;
}
.sectionBox p{
  font-size: 14px;
}
/* .cardBox{
  padding-left: 30px !important;
  padding-right: 30px !important;
} */
.sliderBox{
  height: 702px;
  position: relative;
  padding-left: 68px;
  overflow: hidden;
}
.sliderBox img{
  position: absolute;
  z-index: 9;
  left: 0;
}
.sliderContent p{
  color: #fff;
  font-size: 56px;
  width: 100%;
  line-height: 68px;
  height: 310px;
  margin-top: 210px;
}
.sliderContent{
  position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.sliderContent button.readmore{
  font-size: 20px;
  color: #fff;
}
.readmore{
  font-size: 20px;
  color: #fff;
}
.sliderContent .socical-network{
  position: absolute;
  right: 0;
  top: 40%;
  width: 150px;
}
.sliderContent .socical-network svg{
  color: #fff;
}
.solutionBox{
  background: url('images/pexels-michelangelo-buonarroti-8728382.jpeg');
  background-size: cover;
    margin-left: 97px;
    margin-right: 97px;
    padding-left: 0;
    padding-right: 0;
}
.solutionBox p{
  font-size: 30px;
    color: #fff;
    padding-left: 97px;
    padding-right: 97px;
}
.whyUsBox .MuiTypography-h2{
  margin-bottom: 80px;
}
.whyUsBox .MuiCard-root{
  border: none;
  box-shadow: none;
}
.whyUsBox .MuiCardContent-root{
  font-size: 18px;
}
.whyUsBox .MuiTypography-h7{
  font-weight: 600;
    padding: 15px 0px;
}
.whyUsBox .MuiGrid-item{
  margin-bottom: 50px;
}

.aboutUsBox{
  height: 580px;
  padding-top: 0;
  padding-bottom: 0;
}
.aboutUsBox .MuiPaper-root{
  border-radius: 0;
  height: 100%;
  background: #000;
}
.aboutUsBox .MuiCardContent-root{
  padding: 30px 30px;
}
.aboutUsBox .MuiTypography-h3{
  color: #fff;
  padding-top: 50px;
  margin-bottom: 30px;
}
.aboutUsBox p{
  font-size: 27px;
  color: #fff;
  margin-bottom: 50px;
}
.aboutUsBox2 .MuiTypography-h3{
  padding-top: 0px;
}
.aboutUsBox2 .MuiTypography-h2{
  color:#fff;
  font-size: 55px;
}
.locationBox{
  margin-top: 80px;
}
.locationContent{
  background: url('images/pexels-timo-volz-1842332.jpg');
  background-size: cover;
    padding-left: 0;
    padding-right: 0;
    height: 453px;
}
.locationContent > div{
  height: 100%;
}
.locationContent .MuiPaper-root{
  background: none;
    border: none;
    box-shadow: none;
    color: #fff;
    position: relative;
    height: 100%;
    max-width: 100%;
}
.locationContent .MuiCardContent-root{
  background: none;
  font-size: 25px;
  height: 100%;
  position: absolute;
  left: 0;
  padding-top: 45%;
}
.locationContent .MuiCardContent-root:hover{
  background:#DE3854
}
.locationContent .MuiTypography-h7{
  font-weight: 600;
}
.locationContent p{
  font-size: 25px;
    color: #fff;
    font-weight: 300;
}
.aboutUsBox3 .MuiPaper-root{
  background: none;
  color: #000;
}
.aboutUsBox3 .MuiTypography-h3{
  color: #000;
  padding-top: 0;
  font-weight: 300;
  line-height: 32px;
}
.aboutUsBox3 .MuiPaper-root{
  box-shadow: none;
}
.aboutUsBox3 .MuiCardContent-root{
 padding-top: 0;
}

.ourMissionBox{
  position: relative;
  height: 700px;
  overflow: hidden;
}
.ourMissionBox img{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
}
.ourMissionBox .ourMissionContent{
  position: relative;
  z-index: 10;
}
.ourMissionBox .ourMissionContent .MuiPaper-root{
  background: #fff;
  color: #070D0C;
}
.ourMissionBox .ourMissionContent .MuiTypography-h3, .ourMissionBox .ourMissionContent p{
  color: #070D0C;
  margin-bottom: 15px;
  padding-top: 25px;
}
.ourMissionContent .MuiGrid-item{
  margin-top: 60px;
}


.ourValueBox{
    background: #000;
    padding-bottom: 0;
}

.ourValueBox .MuiTypography-h3, .ourValueBox .MuiTypography-h2, .ourValueBox .MuiTypography-h5{
  color: #fff;
  width: 100%;
}

.ourBeliefBox{
  padding-top: 0px;
}
.ourBeliefBox img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.companiesBox{
  background: url('images/pexels-ivan-samkov-8117421.jpg');
  background-size: cover;
    margin-left: 97px;
    margin-right: 97px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.companiesBox::before{
  position: absolute;
  content: "";
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  top: 0;
}
.companiesBox div{
  font-size: 30px;
    color: #fff;
    padding-left: 97px;
    padding-right: 97px;
    position: relative;
}
.companiesBox .MuiTypography-h3, .companiesBox .MuiTypography-h5{
  color: #fff;
}
.pt0{
  padding-top: 0px;
}
.pb0{
  padding-bottom: 0px;
}
.mb0{
  margin-bottom: 0px !important;
}
.pt15{
  padding-top: 15px;
}
.pb15{
  padding-bottom: 15px;
}
.footerSection{
  background: #000;
}
.footerNavbar{
  padding-bottom: 30px;
}
.footerNavbar a{
  font-size: 16px;
  color: #000;
}
.footerSection img{
  width: 120px;
}
.footerSection .MuiTypography-h3{
  color: #fff;
  font-weight: 400;
}
.footerSection li{
  padding: 0;
}
.footerSection li a{
  color:#fff;
  padding-left: 0;
}
.footerSection li a span{
  font-size: 16px;
  font-weight: 400;
}