
.fs20{
    font-size: 20px !important;
  }
  .fs18{
    font-size:18px !important;
  }


.pt0{
    padding-top: 0px;
  }
  .pb0{
    padding-bottom: 0px;
  }
  .mb0{
    margin-bottom: 0px !important;
  }
  .pl0{
    padding-left: 0px;
  }
  .pt15{
    padding-top: 15px;
  }
  .pb15{
    padding-bottom: 15px;
  }
  .black{
    color:#000;
  }
  .widthInitial{
    width: initial !important;
  }