@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}
.fs20{
    font-size: 20px !important;
  }
  .fs18{
    font-size:18px !important;
  }

.hdnclr{
  color: #fff !important;
}
.BlockchainUsBox.contInfo {
  padding: 0px 0px 0px 0px !important;
}
.BlockchainUsBox.contInfo .blcntp {
  margin-left: 65px;
}
.BlockchainUsBox.contInfo .blcnbtn {
  margin-left: 65px;
}

.bgf {
  background-color: #3330 !important;
  box-shadow: none;
  height: 450px;
}
.pt0{
    padding-top: 0px;
  }
  .pb0{
    padding-bottom: 0px;
  }
  .mb0{
    margin-bottom: 0px !important;
  }
  .pl0{
    padding-left: 0px;
  }
  .pt15{
    padding-top: 15px;
  }
  .pb15{
    padding-bottom: 15px;
  }
  .pl15{
    padding-left: 15px;
  }
  .pr15{
    padding-right: 15px;
  }

  .pt10{
    padding-top: 10px;
  }
  .pb10{
    padding-bottom: 10px;
  }
  .pl10{
    padding-left: 10px;
  }
  .pr10{
    padding-right: 10px;
  }
  .pt30{
    padding-top: 30px;
  }
  .pr30{
    padding-right: 30px;
  }
  .pb30{
    padding-bottom: 30px;
  }
  .pl30{
    padding-left: 30px;
  }
  .black{
    color:#000;
  }
  .widthInitial{
    width: initial !important;
  }
  /* Satya Add css  */
  .sliderBox.blockNFT {
    background: #070D0C;
}
section.sectionBox.BlockchainUsBox {
  height: auto;
  padding: 0px 0px 0px 80px;
}
img.chain_img {
  width: 100%;
    height: 600px;
}
.fp1 {
  box-shadow: none;
  padding: 150px 0px 0px 61px;
}
.fp1 .css-46bh2p-MuiCardContent-root {
  padding: 20px 0px 0px 0px;
}
.bp2 {
  font-size: 18px !important;
  color: #070D0C !important;
  font-weight: 300 !important;
  line-height: 36px !important;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root{
  border-radius: 0px !important;
}
.fp2 {
  box-shadow: none;
  padding: 120px 0px 0px 100px;
}
.css-46bh2p-MuiCardContent-root {
  padding: 0px;
}
.bp3 {
  font-size: 18px;
  line-height: 30px;
  padding: 30px 0px 0px 0px;
}
.blcnt {
  background: #DE3854;
}
.blcnt2{
  background: #DE3854;
    box-shadow: none;
    padding: 150px 0px 0px 70px;
}
.blcntp {
  color: #fff !important;
  line-height: 36px;
  font-size: 22px !important;
}
.blcnbtn {
  margin-top: 80px;
}
.IosAppBox {
  padding: 0px;
}
.IosAppBox .fp1 {
  box-shadow: none;
  padding: 65px 0px 25px 150px;
  background: #070D0C;
  color: #fff;
}
.IosAppBox .bp2 {
  font-size: 18px !important;
  color: #fff !important;
}
.IosAppBox .MuiTypography-h3 {
  font-size: 22px;
  color: #fff;
}
.IosAppBox p {
line-height: 30px;
}
.IosAppBox .MuiTypography-h2{
  color: #fff;
  font-size:25px;
  line-height: 35px;
  padding-top: 0;
  width: 698px;
}
.IosAppBox .MuiTypography-h5{
  color:#fff;
  width: 698px;
}
.IosAppBox .MuiGrid-item .MuiPaper-elevation{
  height: 100%;
}
img.Ios_img {
  width: 100%;
  height: 100%;
}
.ios-app2 {
  box-shadow: none;
}
.whyUsBox.IosAppBox3 {
  padding: 0px 150px 0px 150px;
}
section.sectionBox.IosAppBox2 {
  margin-left: 70px;
}
.IosCard {
  padding: 30px 40px 10px 40px;
}
.IosCard.bg {
  background: #DE3854;
}
.MuiTypography-body2 {
  color: #070D0C;
  line-height: 26px;
  font-size: 16px !important;
  font-family: Poppins;
}
.sectionBox.IosOurBox {
  padding: 0px;
  background: #070D0C;
}
.IosOurBoxPd {
  
  padding: 40px 150px 70px 150px;
}
.IodHdn {
  margin-bottom: 40px;
  color: #fff !important;
}
.customIcon{
  font-size: 20px;
  width: 44px;
  padding: 8px 15px 8px 12px;
  height: 50px;
  font-weight: bolder;
  cursor: pointer;
  margin-right:10px;
}
.customIcon:hover{
  background-color: rgba(0, 0, 0, 0.04);
}
.poppin{
  font-family: Poppins;
}
.red{
  color: #dd3952 !important;
}
.white{
  color: #ffffff !important;
}
.bgRed{
  background-color: #dd3952 !important;
  color: #fff;
}
.normalCase{
  text-transform: lowercase;
}
.mt30{
  margin-top:30px;
}
.mr30{
  margin-right:30px;
}
.ml30{
  margin-left:30px;
}
.mb30{
  margin-bottom:30px;
}
  /* End css */